@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(257, 40%, 49%);
  --secondary-color: hsl(300, 69%, 71%);
}

body {
  font-family: 'Open Sans', sans-serif;
  background: no-repeat center center fixed url('./assets/svg/bg-desktop.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--primary-color);
  padding: 3em 6em;
  color: white;
}

.main-container {
  display: flex;
  align-items: center;
  height: 80vh;
  column-gap: 4em;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
}

.info {
  margin-bottom: 5em;
}

h2 {
  color: #eeeeee;
  margin-top: -0.5em;
  font-size: 1.5vw;
  line-height: 1.5em;
}

button {
  border-radius: 50px;
  width: 230px;
  height: 60px;
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-top: 1em;
  border: none;
  box-shadow: 5px 5px 2px rgb(0 0 0 / 0.2);
}

button:hover {
  background-color: var(--secondary-color);
  color: white;
}
.icon {
  margin-left: 1.3em;
  color: #ffffff;
  border: solid 2px white;
  border-radius: 100%;
  padding: 10px;
}
.icon:hover {
  background-color: var(--secondary-color);
}

footer > div {
  display: flex;
  justify-content: flex-end;
}
footer {
  margin-top: -2em;
}

.main-image {
  width: 50%;
  height: 70%;
}

@media (max-width: 1250px) {
  h1 {
    font-size: 3.2vw;
  }
  h2 {
    font-size: 2vw;
  }
}

@media (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }

  .main-image {
    width: 100%;
    margin-top: 2em;
  }

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.2em;
  }

  #logo {
    height: 50px;
  }

  footer {
    margin-top: 4em;
  }

  footer > div {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  body {
    background-image: url('./assets/svg/bg-mobile.svg');
    padding: 2em;
  }

  .main-container {
    flex-direction: column;
  }

  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.1em;
    margin-top: 10px;
  }

  #logo {
    height: 40px;
    margin-bottom: 10px;
  }

  .info {
    text-align: center;
    margin-top: 2.2em;
  }

  button {
    width: 200px;
    height: 50px;
    font-size: 0.9em;
  }

  .icon {
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
    padding: 7px;
  }

  #fb {
    margin-right: 0;
  }

  #ig {
    margin-left: 0;
  }
}
